{% extends "base.html" %}

{% load custom_filters %}

{% block title %}
    <TITLE>Posts</TITLE>
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
    <p>
        <h2>Merci de vous identifier en page d'accueil afin de pouvoir poster une critique</h2>
    </p>
    <p>
        <a href="{% url 'accounts:index' %}"><buttom class="btn btn-submit">Revenir à l'accueil</buttom></a>
    </p>
{% else %}
            <section class="main-section">
                <h2>{{ user.username }}, voici votre fil de contenus:</h2>
            </section>
            {% for post in posts %}
                <section class="main-section main-section-list posts shadow-box">
                    {% if post|class_name == "Ticket" %}
                        <div>
                            <p>Votre ticket du {{ post.time_created|date:"j F Y" }} à {{ post.time_created|date:"H:s" }}</p>
                            <p>{{ post.title }}</p>
                            <p>{{ post.description }}</p>
                            {% if post.image %}
                                <p><img src="{{ post.image.url }}" alt="{{ post.image }}" width="{{ post.max_width }}"></p>
                            <br>
                            {% endif %}
                        </div>
                        <p>
                            <a href="{% url 'reviews:update-ticket' pk=post.id %}">
                                <button type="submit" class="btn btn-submit">Modifier</button>
                            </a>
                            <a href="{% url 'reviews:delete-ticket' pk=post.id %}">
                                <button type="submit" class="btn btn-delete">Supprimer</button>
                            </a>
                        </p>
                        {% elif post.content_type == "Review" %}
                        <div>
                            <p>Votre critique du {{ post.time_created|date:"j F Y" }} à {{ post.time_created|date:"H:s" }}</p>
                            <p>{{ post.headline }}</p>
                            <p>{{ post.body }}</p>
                        </div>
                        <p>
                            <a href="{% url 'reviews:update-review' pk=post.id %}">
                                <button type="submit" class="btn btn-submit">Modifier</button>
                            </a>
                            <a href="{% url 'reviews:delete-review' pk=post.id %}">
                                <button type="submit" class="btn btn-delete">Supprimer</button>
                            </a>
                        </p>
                    {% else %}
                        <h2>Objet inconnu</h2>
                    {% endif %}
                    </section>
                {% empty %}
                    <h2>Vous n'avez demandé aucun ticket ni publié aucune critique.</h2>
                {% endfor %}

{% endif %}

{% endblock %}