{% extends "base.html" %}

{% block title %}
    <TITLE>Critique</TITLE>
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
    <p>
        <h2>Merci de vous identifier en page d'accueil afin de pouvoir poster une critique</h2>
    </p>
    <p>
        <a href="{% url 'accounts:index' %}"><buttom class="btn btn-submit">Revenir à l'accueil</buttom></a>
    </p>
{% else %}
            <section class="main-section">
                <h2>{{ user.username }}, créez une critique.</h2>
            </section>
            <section  class="main-section main-section-list custom-fields">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="shadow-box">
                        {% if ticket_id %}
                        <h2>Vous êtes en train de poster en réponse à :</h2>
                        <div class="inside-section shadow-box">
                        {% include "reviews/ticket-snippet.html" %}
                        </div>
                        {% else %}
                        <h2>Livre / Article</h2>
                        {% include "reviews/ticket-form-snippet.html" %}
                        {% endif %}
                        <h2>Critique</h2>
                        {% include "reviews/review-form-snippet.html" %}
                    </div>
                    <div class="button_right">
                        <button class="btn btn-submit">Envoyer</button>
                    </div>
                </form>
            </section>
{% endif %}

{% endblock %}