{% extends "base.html" %}

{% block title %}
    <TITLE>Abonnements</TITLE>
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
    <p>
        <h2>Merci de vous identifier en page d'accueil afin d'avoir accès à vos abonnements.</h2>
    </p>
    <p>
        <a href="{% url 'accounts:index' %}"><buttom class="btn btn-submit">Revenir à l'accueil</buttom></a>
    </p>
{% else %}
            <section class="search">
                <h2>Bienvenue sur votre page d'abonnements {{ user.username }}.</h2>
            </section>
            <section class="search">
                <h2>Suivre d'autres utilisateurs</h2>
                <form method="POST">
                    <input type="text" placeholder="Tapez le nom de l'utilisateur" id="id_user_search">
                    <input type="submit" value="S'inscrire" class="btn btn-submit">
                </form>
            </section>
            <section class="search search-list">
                <h2>Abonnements</h2>
                {% for user in followed_users %}
                    <div>
                        <h3>{{ user }}</h3>
                        <span><a href="#">Se désabonner</a></span>
                    </div>
                {% empty %}
                <div>
                    <h3>Vous ne suivez aucun utilisateur actuellement.</h3>
                </div>
                {% endfor %}
            </section>
            <section class="search search-list">
                <h2>Abonnés</h2>
                {% for follower in followers %}
                    <div>
                        <h3>{{ follower }}</h3>
                    </div>
                {% empty %}
                    <div>
                        <h3>Vous n'avez aucun abonné actuellement.</h3>
                    </div>
                {% endfor %}
            </section>
{% endif %}

{% endblock %}