{% extends "base.html" %}

{% block title %}
    <TITLE>Ticket</TITLE>
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
    <p>
        <h2>Merci de vous identifier en page d'accueil afin de pouvoir poster un ticket.</h2>
    </p>
    <p>
        <a href="{% url 'accounts:index' %}"><buttom class="btn btn-submit">Revenir à l'accueil</buttom></a>
    </p>
{% else %}
            <section class="main-section">
                    {% if "update" in request.path %}
                        {% with phrase="mettez à jour votre ticket:" %}
                        <h2>{{ user.username }}, {{ phrase }}</h2>
                        {% endwith %}
                    {% else %}
                        {% with phrase="créez un ticket:" %}
                        <h2>{{ user.username }}, {{ phrase }}</h2>
                        {% endwith %}
                    {% endif %}
            </section>
            <section class="main-section main-section-list custom-fields">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.id_for_label == "id_image" %}
                        <p>{{ field }}</p>
                    {% else %}
                        <p>{{ field.label_tag }}</p>
                        <p>{{ field }}</p>
                    {% endif %}
                    {% endfor %}
                    <div>
                        <button class="btn btn-submit">Envoyer</button>
                    </div>
                </form>
            </section>
{% endif %}

{% endblock %}