{% extends "base.html" %}
{% load static %}


    {% block title %}
        <TITLE>LITReview</TITLE>
    {% endblock %}

    {% block header %}
        <header>
            <h1>LITReview</h1>
            <nav>
                    <a href="">Flux</a>
                    <a href="">Posts</a>
                    <a href="">Abonnements</a>
                    <a href="">Se déconnecter</a>

            </nav>
        </header>
    {% endblock %}

    {% block content %}

        {% if request.user.is_authenticated %}
            <p>Bienvenue à toi !</p>
        {% else %}
            <div class="login">
                <div>
                    <h2>Inscrivez-vous maintenant</h2>
                    <br>
                    <a href="{% url 'accounts:signup' %}">
                        <button class="btn btn-submit">S'inscrire</button>
                    </a>
                </div>
                <div>
                    <img src="{% static 'img/logo.png' %}" alt="Logo du site">
                </div>
                <div>
                    <h2>Connectez-vous</h2>
                    <form method="POST" class="signup">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <img src="{% static 'img/show-icon.jpg' %}"
                         alt="Voir le mot de passe"
                         width="50px"
                         onclick="ShowPassword('id_password')" />
                        <br>
                        <input type="submit" value="Se connecter" class="btn btn-submit">
                    </form>
                </div>
            </div>
        {% endif %}

    {% endblock %}
