{% extends "base.html" %}
{% load static %}


    {% block title %}
        <TITLE>Inscription</TITLE>
    {% endblock %}

    {% block content %}
    {% if user.is_authenticated %}
        <p><h2>Vous êtes déjà inscrit sur notre site.</h2></p>
        <p>
            <a href="{% url 'accounts:index' %}"><buttom class="btn btn-submit">Revenir à l'accueil</buttom></a>
        </p>
    {% else %}
        <form method="POST" class="signup">
            <h2>Inscrivez-vous</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <a href="{% url 'accounts:index' %}"><buttom class="btn btn-submit">Revenir à l'accueil</buttom></a>
                <input type="submit" value="S'inscrire" class="btn btn-submit">
            </p>
        </form>
    {% endif %}
    {% endblock %}
